<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="interviewsExplorationApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="MainCtrl">

      <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

              <div class="container-fluid">

                <ul class="nav navbar-nav navbar-left">
                  <li><h2 id="brand">Video Exploration - {{ tab }}</h2></li>
                </ul>
                
                

                  <ul class="nav navbar-nav navbar-right" id="change">
                    <li style="margin-top:20px;margin-right:10px">
                      <button type="button" class="btn btn-primary"   data-animation="am-fade-and-slide-top" data-template="views/modal.html" ng-click="showModal()">Change Video</button>
                    </li>
                  </ul>
                
              </div>
            </nav>
      </div>
      <div class="row">
        </div>
          <div class="col-sm-6 left">
          <div ng-view></div>
        </div>
        <div class="col-sm-6 right" id='videocontainer'>
          <div class="video-container" style="width:100%;height:50%; margin-top : 25%"  vimeo-player>Loading video...</div> 


        </div>


          <div class="modal fade" id="modal-change">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title">Explore a new video</h4>
            </div>
            <div class="modal-body">
              <p>Enter Vimeo ID or vimeo URL :</p>
              <input type="text" class="form-control" placeholder="{{vimeoId}}" ng-model="tempVimeo">
              <p>Enter spreadsheet URL (by clicking on "file>publish on the web" in GSpreadsheet) :</p>
              <input type="text" class="form-control" placeholder="{{spreadsheet}}" ng-model="tempSpreadsheet">
              <p>Enter your interview's tab name :</p>
              <input type="text" class="form-control" placeholder="{{tab}}" ng-model="tempTab">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="updateModal()">Save changes</button>
            </div>
          </div>
        </div>
      </div>


      </div>



      


        
    </div>




    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
     <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
     <script src="bower_components/tabletop/src/tabletop.js"></script>
     <script src="bower_components/froogaloop/froogaloop.js"></script>
    <!--<script src="bower_components/vimeo-srt/jquery.vimeo-srt.js"></script>-->
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/gdocs.js"></script>
        <script src="scripts/controllers/docs.js"></script>
        <script src="scripts/directives/vimeoplayer.js"></script>
        <!-- endbuild -->
</body>
</html>
