<div ng-controller="DocsCtrl">

<div class="row">
          <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" t ng-model="searchTerm">
              </div>

        </div>

        <div class="row">
          <table class="table table-condensed">

            <tr class='tablerow st-item' ng-repeat="val in interviewsData" ng-class="{'not-found': find(val, searchTerm), 'active' : isActive(val), 'past' : isPast(val)}" ng-click="handleResearch(val)" id = "{{ val.beginSec}}">
              <td class="play-icon" style="display:none;"><span class="glyphicon glyphicon-play"></span></td>
              <td ng-bind-html="val.propos"></td> 

            </tr>

          </table>
</div>
</div>